.navBar{
    background-color: #684810;
    color: bisque;
    display: flex;
    align-items: center;
    max-height: 80px;
}

#navContainer{
    margin: 15px;
    transition: transform .2s;
}

#navContainer:hover {
    transform: scale(1.5); 
  }

nav h1{
    margin-left: 5px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bolder;
}


nav li{
    display: inline-block;    /* show in one line */
    margin: 25px;
}

li a{
    text-decoration: none;
    color: darkgray;
    font-size: 20px;  
}
  

#bodyImg{
    overflow: hidden;
}

